.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background-color: white;
    padding: 20px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0;
    transition: transform 2 ease-in-out, opacity 1.5s ease-in-out;
    border-radius: 10px;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


